odict.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dictionary" type="dictionaryType"/>
  <xs:complexType name="definitionType">
    <xs:sequence>
      <xs:element type="xs:string" name="example" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="noteType" name="note" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="value" use="required" />
    <xs:attribute type="xs:string" name="id" use="optional" />
  </xs:complexType>
  <xs:complexType name="groupType">
    <xs:sequence>
      <xs:element type="definitionType" name="definition" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="description" use="optional"/>
    <xs:attribute type="xs:string" name="id" />
  </xs:complexType>
  <xs:complexType name="senseType">
    <xs:sequence>
      <xs:element type="groupType" name="group" minOccurs="0"/>
      <xs:element type="definitionType" name="definition" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="pos" use="optional" />
    <xs:attribute type="xs:string" name="id" use="optional" />
  </xs:complexType>
  <xs:complexType name="etyType">
    <xs:sequence>
      <xs:element type="senseType" name="sense" maxOccurs="unbounded" minOccurs="1" />
    </xs:sequence>
    <xs:attribute type="xs:string" name="description" use="optional" />
    <xs:attribute type="xs:string" name="id" use="optional" />
  </xs:complexType>
  <xs:complexType name="entryType" mixed="true">
    <xs:sequence>
      <xs:element type="etyType" name="ety" minOccurs="0" />
    </xs:sequence>
    <xs:attribute type="xs:string" name="term" use="required" />
    <xs:attribute type="xs:string" name="pronunciation" use="optional" />
    <xs:attribute type="xs:string" name="see" use="optional" />
  </xs:complexType>
  <xs:complexType name="noteType">
    <xs:sequence>
      <xs:element type="xs:string" name="example" />
    </xs:sequence>
    <xs:attribute type="xs:string" name="value" use="required" />
  </xs:complexType>
  <xs:complexType name="dictionaryType">
    <xs:sequence>
      <xs:element type="entryType" name="entry" maxOccurs="unbounded" minOccurs="1" />
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional" />
  </xs:complexType>
</xs:schema>