odict.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dictionary">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="entry">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ety">
                <xs:complexType>
                  <xs:sequence >
                    <xs:element maxOccurs="unbounded" name="sense">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="group" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="definition">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element maxOccurs="unbounded" name="example" type="xs:string" />
                                      <xs:element name="note">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="example" type="xs:string" />
                                          </xs:sequence>
                                          <xs:attribute name="id" type="xs:string" />
                                          <xs:attribute name="value" type="xs:string" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:string" />
                                    <xs:attribute name="value" type="xs:string" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="id" type="xs:string" />
                              <xs:attribute name="description" type="xs:string" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element maxOccurs="unbounded" name="definition" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="example" type="xs:string" />
                                <xs:element name="note">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="example" type="xs:string" />
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:string" />
                                    <xs:attribute name="value" type="xs:string" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="id" type="xs:string" />
                              <xs:attribute name="value" type="xs:string" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="pos" type="xs:string" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" />
                  <xs:attribute name="description" type="xs:string" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="term" type="xs:string" />
            <xs:attribute name="pronunciation" type="xs:string" />
            <xs:attribute name="see" type="xs:string" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" />
      <xs:attribute name="name" type="xs:string" />
    </xs:complexType>
  </xs:element>
</xs:schema>